.back {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.header > p {
  margin: auto;
  font-size: 14px;
}

.button {
  background-color: inherit;
  border: none;
  color: rgba(171, 255, 253, 1);
  font-size: 14px;
  cursor: pointer;
  margin-left: auto;
}