.input {
  background: rgba(255, 255, 255, 0.06);
  border: none;
  height: 40px;
  width: 87%;
  font-weight: 500;
  border-radius: 8px;
  padding: 0 20px;
  overflow: hidden;
  outline: none;
  color: rgba(255, 255, 255, 1);
  margin: 0.5rem 0;
  font-size: 13px;
}
